header {
  height: 80px;
  border-bottom: 1px solid #cccccc;
  background: #f5f5f5;
  padding: 15px 30px;
}
.main-block {
  display: flex;
  flex-direction: row;
}
aside {
  background: #f5f5f5;
  border-right: 1px solid #cccccc;
  width: 20%;
  padding: 30px;
  min-height: calc(100vh - 80px);
}
.content-box {
  padding: 30px;
}